body {
  font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

h1 {
  color: white;
  font-size: xx-large;
  padding-bottom: 0px;
}


#btn-go {
  width: 120px;
  height: 50px;
  margin-left: 1vh;
  border-radius: 8px;
  background-color: #da3743;
  font-size: medium;
  border: 0;
  font-family: inherit;
  color: white;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

#btn-go:hover
 {
  background-color: #990a0a;
}

.search-bar-elems {
  display: inline;
  float: left;
}
.search-bar-container {
  margin-top: 10%;
  background-color: #180700;
  width: 60%;
  height: 20%;
  padding-top: 6vh;
  padding-left: 9vh;
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;
}

.search-bar-wrapper {
  background-color: antiquewhite;
  background-image: url(/public/images/rating/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  width: 100%;
  text-align: center;
  height: 650px;
  padding-top: 25vh;
}

.select-time {
  font-size: larger;
  width: 120px;
  height: 50px;
  border-style: solid;
  margin-left: -4px;
  text-align: center;
}

.city-name {
  font-size: large;
  width: 150px;
  height: 46px;
  font-family: inherit;
  margin-right: 5px;
  margin-left: -2px;
  text-align: center;
  border-width: 1px;
  font-family: Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

.restaurant-item {
  margin-top: 15vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 307px;
  position: relative;
  bottom: 50px;
  border-style: solid;
  border-color: rgb(220, 216, 216);
  border-radius: 10px;
}

.rest-container {
  display: grid;
  background-color: azure;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding-left: 15vh;
}

.restaurant-logo {
  display: block;
  width: 21.5vw;
  height: 30vh;
  object-fit: cover;
  border-radius: 6px;
}

.rest-name {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
  height:7vh;
}

.rating-review-container {
  display: flex;
  gap: 1vh;
  margin-bottom: 1vh;
}

.price-category-city-container {
  display: flex;
  gap: 1vh;
  font-weight: 300;
  font-size: medium;
}

.timeslot-btn-container {
  display: inline;
  padding-left: 1.1vh;
}

.timeslot-button {
  background-color: #da3743;
  border: none;
  color: #ffffff;
  transition-duration: 0.4s;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  margin: 0.8vh;
}

.timeslot-button:hover {
  background-color: #990a0a;
  color: white;
}

.review-count {
  font-size: small;
  font-weight: 500;
}

.book-times {
  font-size: 14px;
  font-weight: 500;
  margin-top: 1vh;
}
/* .confirm-form-container {
  background-color: blue;
  display: flex;
  align-items: baseline;
} */

/* Popup style */
.popup-box {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
background:rgba(55,55,55,.6);
backdrop-filter: blur(10px);
}

.box {
  width: 50%;
  margin: 0 auto;
  height:500px;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 7px;
  padding: 20px;
  border: 0.5px solid #999;
  overflow: auto;
}

/* inside pop-up */

.reservation-address-container {
  display: grid;
}

.img-reservation-data-container {
  display: flex;
}

.reservation-data {
  padding-bottom: 0;
  margin-top: 2vh;
  margin-left: 3vh;
  
}

#rest-name {
  font-weight: 700;
  font-size: x-large;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

#rest-date {
padding-bottom: 1vh;
font-weight: 300;
font-size: larger;
}

#rest-time  {
  padding-bottom: 1vh;
  font-weight: 300;
  font-size: larger;

} 


.pop-up-rest-img {
  margin-top: 3vh;
  width: 15vw;
  height: 22vh;
  object-fit: cover;
  border-radius: 6px;
  margin-left: 3vh;
  margin-bottom: 1vh;
}

.address-location {
  margin-left: 3vh;
  margin-top: 0vh;
  font-weight: 300;
} 

#pop-box-email, #pop-box-phone,
 #pop-box-last-name, #pop-box-first-name {
  width: 40vh;
  margin-top: 3vh;
  margin-bottom: 1vh;
  height: 5vh;
  font-size:medium;
  font-weight: 100;
  margin-left: 3vh;
}


.pop-up-label-container {
display: flex;
flex-wrap: wrap;
margin-left: 1vh; 
}

/* vaildation of user input in pop-up form */

#first-name-error, #last-name-error, #phone-error, #email-error {
  color: #9e0b0b;
  font-size: smaller;
  margin-left: 3vh;
}
.invalid {
  border-color: #d10000;
}


.popup-submit-btn {
  width: 350px;
  height: 50px;
  margin-top: 10vh;
  margin-left: 28vh;
  text-align: center;
  background-color: #da3743;
  border-radius: 7px;
  font-size: medium;
  border: 0;
  font-family: inherit;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.popup-submit-btn:hover {
  background-color: #990a0a;
}

.close-icon {
  content: "x";
  font-weight:200;
  cursor: pointer;
  position: fixed;
  right: calc(28% - 30px);
  top: calc(100vh - 83vh - 10px);
  width: 40px;
  height: 42px;
  text-align: center;
  font-size: 35px;
}

.close-icon:hover {
  opacity:0.3;
}

#check-sign {
  font-weight:200;
  margin-top: 2vh;
  margin-left: 44%;
  padding-top: 1vh;
  width: 80px;
  height: 70px;
  background-color: white;
  border-style: solid;
  border-width: 4px;
  border-color: green;
  text-align: center;
  align-content: center;
  font-size: 45px;
  border-radius: 50%;
}

#error-sign {
  font-weight:700;
  margin-top: 2vh;
  margin-left: 44%;
  padding-top: 1vh;
  width: 80px;
  height: 70px;
  background-color: white;
  border-style: solid;
  border-width: 4px;
  border-color:#d21616;
  text-align: center;
  align-content: center;
  font-size: 50px;
  border-radius: 50%;
}

#success-ok-btn, #fail-ok-btn {
    width: 350px;
    height: 50px;
    margin-top: 7vh;
    margin-left: 28vh;
    text-align: center;
    border-radius: 7px;
    font-size: medium;
    border: 0;
    font-family: inherit;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  #success-ok-btn {
    background-color: green;
  }

  #success-ok-btn:hover {
    background-color:rgb(3, 108, 3);
  }

  #fail-ok-btn {
    background-color: #d21616;
  }

  #fail-ok-btn:hover {
    background-color: #920d0d;
  }

  #thanks-msg, #sorry-msg {
    text-align: center;
    margin-top: 3vh;
    font-weight: 500;
    font-size: x-large;
  }

  #reservation-msg, #fail-reservation-msg {
    text-align: center;
    padding-top: 2vh;
    font-size:large;
  }









/* react calendar */

.react-calendar {
  display: block;
  background: white;
  width: 350px;
  height: 50px;
  /* border-width: 0px; */
  font-size: 1.3rem;
  text-align: center;
  border-width: 0.5px;
 
  font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

.react-calendar button {
  margin: 0;
  border: 0;
}

.react-calendar__navigation__label {
  font-size: 21px;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 0em;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: none;
  background-color: white;
  font-weight: 300;
  font-size: medium;
  font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

/* To specify background color and border */

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  font-size: medium;
  line-height: 20px;
  margin: 1px;
  background-color: #ffffff;
  border: 0;
  color: black;
  padding: 3px 1;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #f3b1b1;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #cd5d5d;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
